ECOM_LLM_API_KEY=sk-xxxxxxxxxxxxxxxxxxx
ECOM_LLM_BASE_URL=your-llm-base-url
ECOM_LLM_MODEL=your-model-name
ECOM_LLM_ENABLE_THINKING=true

ECOM_EMBEDDING_PROVIDER=your-embedding-provider
ECOM_EMBEDDING_BASE_URL=your-embedding-base-url
ECOM_EMBEDDING_API_KEY=sk-xxxxxxxxxxxxxxxxxxx
ECOM_EMBEDDING_MODEL=your-embedding-model-name
ECOM_EMBEDDING_DIMENSION=xxxx
ECOM_MILVUS_DIMENSION=xxxx
ECOM_COURSE_MILVUS_COLLECTION=your-collection-name
ECOM_HTTPX_VERIFY_SSL=false
